/*
Theme Name: ElectroMusic.ro
Theme URI: http://www.electromusic.ro/
Description: Theme for ElectroMusic.ro Copyrighted under Creative Commons 3.0 licence - Attribution Non-Commercial No Derivatives
Author: Marius Stuparu
Version: 1.0
Tags: electromusic.ro, copyrighted, music, mixer, dj
*/

/* reset.css */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

table { border-collapse: separate; border-spacing: 0; } /* Tables still need 'cellspacing="0"' in the markup. */
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/* Default font settings. The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
  font-size: 75%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #fff url("img/bg_cdj-grips.png") repeat-y center;
}

/* Headings */
h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/* Text elements */
p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus,
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; outline: 0; }

strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* Lists */
li ul,
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Tables */
table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

/* Misc classes */
.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

/* Layout */
.container {
  width: 950px;
  margin: 0 auto;
}

.showgrid {
  background: url(grid.png);
}

/* Columns */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10 {
  float: left;
  margin-right: 10px;
}

.last, div.last { margin-right: 0; }

.span-1  { width: 86px; }
.span-2  { width: 182px; }
.span-3  { width: 278px; }
.span-4  { width: 374px; }
.span-5  { width: 470px; }
.span-6  { width: 566px; }
.span-7  { width: 662px; }
.span-8  { width: 758px; }
.span-9  { width: 854px; }
.span-10  { width: 950px; margin-right: 0; }

input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10 {
  border-left-width: 1px!important;
  border-right-width: 1px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

input.span-1, textarea.span-1 { width: 74px!important; }
input.span-2, textarea.span-2 { width: 170px!important; }
input.span-3, textarea.span-3 { width: 266px!important; }
input.span-4, textarea.span-4 { width: 362px!important; }
input.span-5, textarea.span-5 { width: 458px!important; }
input.span-6, textarea.span-6 { width: 554px!important; }
input.span-7, textarea.span-7 { width: 650px!important; }
input.span-8, textarea.span-8 { width: 746px!important; }
input.span-9, textarea.span-9 { width: 842px!important; }
input.span-10, textarea.span-10 { width: 938px!important; }

.append-1  { padding-right: 96px; }
.append-2  { padding-right: 192px; }
.append-3  { padding-right: 288px; }
.append-4  { padding-right: 384px; }
.append-5  { padding-right: 480px; }
.append-6  { padding-right: 576px; }
.append-7  { padding-right: 672px; }
.append-8  { padding-right: 768px; }
.append-9  { padding-right: 864px; }

.prepend-1  { padding-left: 96px; }
.prepend-2  { padding-left: 192px; }
.prepend-3  { padding-left: 288px; }
.prepend-4  { padding-left: 384px; }
.prepend-5  { padding-left: 480px; }
.prepend-6  { padding-left: 576px; }
.prepend-7  { padding-left: 672px; }
.prepend-8  { padding-left: 768px; }
.prepend-9  { padding-left: 864px; }

/* Border on right hand side of a column. */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 52px;
  margin-right: 53px;
  border-right: 1px solid #eee;
}

.pull-1 { margin-left: -96px; }
.pull-2 { margin-left: -192px; }
.pull-3 { margin-left: -288px; }
.pull-4 { margin-left: -384px; }
.pull-5 { margin-left: -480px; }
.pull-6 { margin-left: -576px; }
.pull-7 { margin-left: -672px; }
.pull-8 { margin-left: -768px; }
.pull-9 { margin-left: -864px; }
.pull-10 { margin-left: -960px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10 {float: left; position:relative;}

.push-1 { margin: 0 -96px 1.5em 96px; }
.push-2 { margin: 0 -192px 1.5em 192px; }
.push-3 { margin: 0 -288px 1.5em 288px; }
.push-4 { margin: 0 -384px 1.5em 384px; }
.push-5 { margin: 0 -480px 1.5em 480px; }
.push-6 { margin: 0 -576px 1.5em 576px; }
.push-7 { margin: 0 -672px 1.5em 672px; }
.push-8 { margin: 0 -768px 1.5em 768px; }
.push-9 { margin: 0 -864px 1.5em 864px; }
.push-10 { margin: 0 -960px 1.5em 960px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10 {float: right; position:relative;}

.prepend-top {
  margin-top:1.5em;
}
.append-bottom {
  margin-bottom:1.5em;
}

hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
}

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

.clear { clear:both; }

/* Forms */
label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }

/* Form fields */
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:.25em;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/* ------------------ Layout ------------------ */
/* Header */
#header {
	background: url("img/bg_header.jpg") no-repeat;
	height: 417px;
}

#logo a {
	display: block;
	width: 662px;
	height: 167px;
	text-indent: -9999px;
	background: url("img/logo_electromusic.png") no-repeat;
}

#social a {
	display: block;
	width: 55px;
	height: 33px;
	float: left;
	text-indent: -9999px;
}

#social a#rss {margin-left: 90px;}

#social a#rss,
#social a#fb {margin-right: 10px;}

#social a#rss {background: url("img/buttons_social.png") no-repeat 0px 0px;}
#social a#rss:hover {background: url("img/buttons_social.png") no-repeat 0px -33px;}
#social a#fb {background: url("img/buttons_social.png") no-repeat -55px 0px;}
#social a#fb:hover {background: url("img/buttons_social.png") no-repeat -55px -33px;}
#social a#twitter {background: url("img/buttons_social.png") no-repeat -110px 0px;}
#social a#twitter:hover {background: url("img/buttons_social.png") no-repeat -110px -33px;}

#navigation {
	background: url("img/bg_navigation.png") no-repeat 0px 0px;
	height: 243px;
}

#navigation ul {margin-left:30px}

#navigation li {
	float: left;
	list-style: none;
	text-align: center;
}

#navigation a {
	display: block;
	width: 75px;
	height: 63px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: url("img/bg_navigation.png") no-repeat -662px 0px;
	padding-top: 180px;
}

#navigation a:hover {
	text-decoration: underline;
	background: url("img/bg_navigation.png") no-repeat -736px 0px;
}

#navigation li.current-menu-item a,
#navigation li.current-menu-item a:hover {
	text-decoration: none;
	background: url("img/bg_navigation.png") no-repeat -812px 0px;
}

#searchbox {
	height: 58px;
	margin-top: 185px;
	background: url("img/searchbox.png") no-repeat 0px 0px;
}

.search-title {margin: 5px 0 0 185px;}

#searchbox input {
	margin: 7px 7px 0 15px;
	width: 215px;
	text-align: right;
	color: #c22;
	border: 0 none;
}

#searchbox button {
	width: 27px;
	height: 27px;
	border: 0 none;
	background: url("img/searchbox.png") no-repeat -278px 0px;
	text-indent: -9999px;
	cursor: pointer;
}

#searchbox button:hover {background: url("img/searchbox.png") no-repeat -278px -27px;}

/* Content */
.article-container {
	margin-left: 4px;
	background: url("img/content-module.png") repeat-y -658px 0px;
}

.article-head {
	height: 64px;
	max-height: 64px;
	margin-bottom: 15px;
	background: url("img/content-module.png") no-repeat 0px 0px;
}

.article-footer {
	height: 39px;
	max-height: 39px;
	background: url("img/content-module.png") no-repeat 0px -64px;
}

.article-container,
.article-head,
.article-footer {overflow: hidden;}

.article-head,
.article-footer {width: 658px;}

.article-permalink-button {
	display: block;
	width: 35px;
	height: 35px;
	text-indent: -9999px;
	margin: 14px 5px 0 9px;
	background: url("img/content-module.png") no-repeat 0px -103px;
}

.article-permalink-button:hover {background: url("img/content-module.png") no-repeat -35px -103px;}

.article-date,
.article-permalink-button {float: left;}

.comments-count {
	margin-right: 10px;
	cursor: pointer;
}

.article-date a:hover,
.comments-count a:hover {text-decoration:underline;}

.comments-count span {
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	background: url("img/content-module.png") no-repeat -70px -123px;
}

.comments-count,
.comments-count span {float: right;}

.metadata {
	margin: 3px 18px 2px 15px;
	padding: 5px;
	background: #ccc;
	color: #444;
	font-size: 0.9em;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.metadata a {
	color: #000;
	text-decoration: none;
}

.article-footer .category {
	float: right;
	color: #fff;
	font-size: 0.9em;
	margin: 10px;
	font-weight: bold;
}

.article-date a,
.comments-count a,
.article-footer .category a {
	color: #fff;
	text-decoration: none;
}

.article-date a:hover,
.comments-count a:hover,
.metadata a:hover,
.article-footer .category a:hover {text-decoration:underline;}

.article-footer .category span {
	width: 66px;
	height: 20px;
	display: block;
	float: right;
	margin-left: 5px;
	background: url("img/content-module.png") no-repeat -85px -103px;
}

#nav-above,
#nav-below {
	height: 46px;
	background: url("img/prev-next.png") no-repeat 0px 0px;
}

div.nav-previous,
div.nav-next {
	float: left;
	width: 119px;
	margin: 6px 10px 0 10px;
}

div.nav-previous a span,
div.nav-next a span {
	display: block;
	width: 34px;
	height: 33px;
}

div.nav-previous a,
div.nav-next a {
	color: #fff;
	text-decoration: none;
	display: block;
	height: 33px;
	padding-top: 7px;
}

div.nav-previous a:hover,
div.nav-next a:hover {text-decoration: underline;}

div.nav-previous a span {
	margin: -7px 5px 0 0;
	float: left;
	background: url("img/prev-next.png") no-repeat -278px -6px;
}

div.nav-previous a:hover span {background: url("img/prev-next.png") no-repeat -345px -6px;}

div.nav-next a span {
	margin: -7px 0 0 5px;
	float: right;
	background: url("img/prev-next.png") no-repeat -311px -6px;
}

div.nav-next a:hover span {background: url("img/prev-next.png") no-repeat -378px -6px;}

/* Sidebar */
a.podcasts {
	display: block;
	width: 278px;
	height: 140px;
	text-indent:-9999px;
	background: url("img/podcasts.jpg") no-repeat 0px 0px;
}

a.podcasts:hover {
	background: url("img/podcasts.jpg") no-repeat 0px -140px;
}

.module-container {
	max-height: 700px;
	margin-left: 2px;
	background: url("img/sidebar-module.png") no-repeat -276px 0px;
}

div.module-head {
	height: 45px;
	max-height: 45px;
	background: url("img/sidebar-module.png") no-repeat 0px 0px;
}

.module-footer {
	height: 15px;
	max-height: 15px;
	background: url("img/sidebar-module.png") no-repeat 0px -45px;
}

.module-container,
.module-head,
.module-footer {overflow: hidden;}

.module-head,
.module-footer {width: 276px;}

img.alignleft {float: left; padding-right: 5px;}
img.alignright {float: right; padding-left: 5px;}

#sidebar-tag-cloud,
#calendar_wrap {padding: 0 17px;}

#calendar_wrap caption {
	background: #c00;
	color: #fff;
}

#calendar_wrap thead th {
	background: #eee;
}

/* Footer */
#footer {
	background: url("img/bg_footer.jpg") no-repeat;
	height: 167px;
}

.copyright {
	text-align: center;
	margin: 130px 0 0 192px;
	width: 554px;
}

/* ------------------ Typography ------------------ */
.box-title,
.article-title,
.article-title a,
.comments-count a,
.small-text,
.comment-title {color: #fff;}

.box-title,
.article-title,
.comment-title {text-transform: uppercase;}

.box-title {font: 1em Verdana, Arial, Helvetica, sans-serif;}

h3.article-title {
	font: 1.3em Verdana, Arial, Helvetica, sans-serif;
	margin: 14px 0 2px 0;
}

h3.comment-title {
	font: 1.2em Verdana, Arial, Helvetica, sans-serif;
	margin: 8px 0 0px 15px;
}

h3.article-title a {text-decoration: none;}
h3.article-title a:hover {text-decoration:underline;}

h3 {
	margin: 10px 17px;
	font: bold 1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #c00;
}

.article-container p,
.article-container ul,
.article-container ol,
.module-container p,
.module-container ul,
.module-container ol {margin: 0 17px 10px 17px;}

.article-container ul ul {margin: 5px;}

.article-container p a,
.module-container a,
li a {
	text-decoration: none;
	color: #c00;
}

.article-container p a:hover,
.module-container a:hover,
li a:hover {
	color: #c55;
	text-decoration: underline;
}

.article-container ol,
.module-container ol {padding-left: 25px;}

.article-container ul li,
.module-container ul li {
	list-style: none;
	background : url("img/bullet-green.png") no-repeat;
	padding-left: 25px;
}

.article-container ol li,
.module-container ol li {
	list-style: decimal-leading-zero;
	border-bottom: 1px dotted #999;
}

.article-container ul li,
.article-container ol li,
.module-container ul li,
.module-container ol li {margin-bottom: 2px;}

.module-title {margin: 12px 0 0 35px;}

.small-text,
small {font: 0.9em Verdana, Arial, Helvetica, sans-serif;}

blockquote {
	background: url("img/content-module.png") no-repeat 0px -570px;
	margin: 10px 20px 10px 15px;
	padding-left: 5em;
	font-style: italic;
	border-right: 5px solid #ccc;
	color: #333;
}

.podcast-table {
	width:90%;
	margin-left:30px;
	border-collapse:collapse;
}

.podcast-table a {
	color:#c00;
	text-decoration:none;
}

.podcast-table a:hover {
	text-decoration:underline;
}

.podcast-table tr {
	border-bottom:1px solid #ccc;
}

.podcast-table tr:hover {
	background:#ccc;
}

/* Author */
#entry-author-info {
	width: 652px;
	margin: 10px 5px;
	background: #eee;
	border: 1px solid #ccc;
	padding-top: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#author-description h2 {
	margin-bottom: 10px;
	font: bold 1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #c00;
}

#author-link a {
	color: #c00;
	text-decoration: none;
}

#author-link a:hover {text-decoration: underline;}

/* Comments */
img.avatar {float: left; margin: 5px;}

.comment.even {
	background: #eee;
	border-bottom: 1px dashed #ccc;
}

.comment.odd {
	background: #fff;
	border-bottom: 1px dashed #ccc;
}

.commentmetadata {margin-top: 20px;}

.comment-body p {margin: 5px;}

.comment a {
	color: #c00;
	text-decoration: none;
}

.comment a:hover {
	color: #c55;
	text-decoration: underline;
}

.reply {
	padding: 5px;
	text-align: right;
}

.pingback {
	background: #ccc;
	border-bottom: 1px dashed #aaa;
}

#respond h3#reply-title {
	height: 44px;
	max-height: 44px;
	background: url("img/content-module.png") no-repeat 0px 0px;
	width: 643px;
	margin: 0;
	color: #fff;
	font: 1.2em Verdana, Arial, Helvetica, sans-serif;
	padding: 20px 0 0 15px;
}

#commentform p.form-submit input,
#recaptcha-submit-btn-area {
	height: 39px;
	max-height: 39px;
	background: url("img/content-module.png") no-repeat 0px -64px;
	width: 658px;
	text-align: right;
	border: 0;
}

#commentform p.form-submit {
	margin: 0;
	border-bottom: 0;
}

#respond h3#reply-title,
#recaptcha-submit-btn-area {overflow: hidden;}

#recaptcha-submit-btn-area br {display: none;}

#commentform p.form-submit input {
	padding-right: 15px;
	color: #fff;
}

#recaptcha-submit-btn-area input {
	margin: 8px 10px 0 0;
	background: none;
	border: 0;
	color: #fff;
}

#commentform p.form-submit input:hover,
#recaptcha-submit-btn-area input:hover {
	color: #c00;
	cursor: pointer;
}

#recaptcha_widget_div {
	float: right;
	margin-right: 17px;
}

#commentform div.form-notes-after {
	float: left;
	width: 300px;
	margin-left: 17px;
}

#commentform div.comment-notes {
	margin: 5px 17px;
	text-align: right;
	color: #555;
}

.wpcf7-form p,
#commentform p {
	margin: 5px 17px;
	border-bottom: 1px dotted #ccc;
}

 label,
#commentform p label {
	width: 100px;
	display: block;
	float: left;
}

.wpcf7-form p input,
#commentform p.comment-form-author input,
#commentform p.comment-form-email input,
#commentform p.comment-form-url input {
	width: 512px;
	padding: 5px;
}

.wpcf7-form p textarea,
#commentform textarea {
	width: 512px;
	height: 140px;
	padding: 5px;
}

/* Plug-ins */
/* Sociable */
div.sociable { margin: 15px 17px; }

.sociable_tagline {
	position: relative;
	margin-bottom: 5px;
	font: bold 0.9em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
.sociable_tagline span { display: none; width: 14em; }
.sociable_tagline:hover span {
	position: absolute;
	display: block;
	top: -5em;
	background: #ffe;
	border: 1px solid #ccc;
	color: black;
	line-height: 1.25em;
}
.sociable span {
	display: block;
}
.sociable ul {
	display: inline;
	margin: 0 !important;
	padding: 0 !important;
}
.sociable ul li {
	background: none;
	display: inline !important;
	list-style-type: none;
	margin: 0;
	padding: 1px;
}
.sociable ul li:before { content: ""; }
.sociable img {
	float: none;
	width: 16px;
	height: 16px;
	border: 0;
	margin: 0;
	padding: 0;
}

.sociable-hovers {
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity=50);
}
.sociable-hovers:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

/* YARPP */
div.yarpp {
	margin: 5px 19px 10px 16px;
	border: 1px dashed #ccc;
	padding: 5px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.yarpp ul {margin: 5px;}

div.yarpp ul a {
	font-weight: normal;
	color: #c00;
	text-decoration: none;
}

div.yarpp ul a:hover {
	color: #c55;
	text-decoration: underline;
}
